<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>

<body>
    <div id="header">
        <div class="left" align="center"> WYU</div>
        <div class="center"><a href="http://baidu.com" target="_blank">University</a></div>
        <div class="right">Search</div>
    </div>

    <div id="nav"></div>
    <div id="main">
        <div id="content">
            <div id="left">example</div>
        </div>
    </div>
    <button onclick="javascript:alert('hello javascript')">Click me</button>"
</body>

</html>
