{% extends 'base.html' %}
{% load static %}
<!-- 
{% block head %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
<style>
    /* Make the image fully responsive */
    .carousel-inner img {
        width: 100%;
        height: 100%;
    }
</style>
{% endblock head %} -->



{% block body %}

<div class="container-fluid bg">

    <div class="row">
        <div class="col-sm-2" style="background-color:rgb(69, 69, 92)">
        </div>


        <div class="col-sm-8 ">
            <div class=" justify-content-end">
                <ul class="pagination pagination-sm ">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    打开模态框
                </button>

                <!-- 模态框 -->
                <div class="modal fade" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- 模态框头部 -->
                            <div class="modal-header">
                                <h4 class="modal-title">模态框头部</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- 模态框主体 -->
                            <div class="modal-body">
                                模态框内容..
                            </div>

                            <!-- 模态框底部 -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div id="demo" class="carousel slide" data-ride="carousel">

                <!-- 指示符 -->
                <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                </ul>

                <!-- 轮播图片 -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'img/libg1.jpg' %} ">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'img/libg2.jpg' %}">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'img/libg3.jpg' %}">
                    </div>
                </div>

                <!-- 左右切换按钮 -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>

            </div>

            <div class="col-md-12">
                <div id="card-972068">
                    <div class="card">
                        <div class="card-header">
                            <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-972068" href="#card-element-706213">Collapsible
                                Group Item #1</a>
                        </div>
                        <div id="card-element-706213" class="collapse">
                            <div class="card-body">
                                Anim pariatur cliche...<br />
                                Anim pariatur cliche...<br />
                                Anim pariatur cliche...<br />
                                Anim pariatur cliche...<br />
                                Anim pariatur cliche...<br />
                                Anim pariatur cliche...
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" data-parent="#card-972068" href="#card-element-454778">Collapsible
                                Group Item #2</a>
                        </div>
                        <div id="card-element-454778" class="collapse">
                            <div class="card-body">
                                Anim pariatur cliche...
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="alert alert-danger"><strong>information! <a href="http://www.baidu.com" target="_blank">start</a></strong></div>
            <div class="alert alert-light alert-dismissable">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>浅灰色!</strong>浅灰色提示框。
            </div>
            <div>
                <button type="button" class="btn btn-warning" onclick="alert('hello click me')">click me</button>
                <a href="http://www.baidu.com" target="_blank" class="btn btn-danger">hyper link</a>
                <input type="text" class="btn btn-light" name="user" value="input username">
            </div>
            <div class="btn-group-vertical">
                <button type="button" class="btn btn-dark">one click</button>
                <button type="button" class="btn btn-light">tow button</button>
                <button type="button" class="btn btn-secondary">three press</button>
                <a href="http://www.baidu.com" target="_blank" class="btn btn-danger">authoer</a>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Sony</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Tablet</a>
                        <a class="dropdown-item" href="#">Smartphone</a>
                    </div>
                </div>
            </div>
            <div>
                <p>this is one <span class="badge badge-pill badge-primary">default</span>note.</p>
            </div>
            <div class="progress">
                <div class="progress-bar" style="width:40%"></div>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-primary">Apple</button>
                <button type="button" class="btn btn-primary">Samsung</button>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        Sony
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Tablet</a>
                        <a class="dropdown-item" href="#">Smartphone</a>
                    </div>
                </div>
            </div>

            <div>
                <a href="#" data-toggle="tooltip" title="我是提示内容!">鼠标移动到我这</a>
                <a href="#" data-toggle="popover" title="弹出框标题" data-content="弹出框内容">多次点我</a>
                <script>
                    $(document).ready(function () {
                        $('[data-toggle="popover"]').popover();
                    });
                </script>
                <form>
                    <h2>Sign in book system.</h2>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control" name="pwd" id="pwd" placeholder="Enter password">
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox"> Remember me
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

        </div>




        <div class="col-sm-2 text-right " style="background-color:rgb(69, 69, 92)">
        </div>

    </div>

    <div class="row " style="background-color:rgb(56, 69, 70)">
        <div class="col-sm-12 text-center">
            <hr />
            <p class="text-white">&copy;Copyright WYU Lib. 2018</p>
        </div>
    </div>
</div>
<script type="text/javascript">
    function hello() {
        alert("hello")
    }

</script>
{% endblock body %}
