{% load static %}
<!DOCTYPE html>
<html>


<head>
    <title>
        {% block title %}
        Homepage
        {% endblock title %}
    </title>


    {% block head %}
    <!-- <link rel="shortcut icon" href="/static/favicon.ico">

    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/bootstrap/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/popper.min.js"></script> -->
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>

    <!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
    {% endblock head %}
    <style>
        html {
            background-image: url('/static/img/timg.jpg');
        }

        .bg {
            background: url('/static/img/timg.jpg');
            background-size: contain;
        }

    </style>

</head>


<body>
    {% block body %}

    {% endblock body %}
</body>

</html>
